/**------------------ Style Général ------------------**/
*, *::after, *::before {
    box-sizing: border-box;
}
html {
    font-size: 16px
}
body {
    font-size: 1rem;
    font-family: "Lato", Arial, sans-serif;
    line-height: 1.4;
    color: rgba(0, 0, 0, .7);
    margin: 0;
    padding: 0;
}
a {
    color: inherit;
    text-decoration: none;
    transition: color .3s;
}
a:hover {
    color: #bfae94;
}
img {
    max-width: 100%;
    height: auto;
}

/**------------------ Header ------------------**/
.cs__header {
    color: #fff;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 15%, rgba(0,0,0,.35) 50%),
    url('../img/front.jpg') top center/ cover;
}
.cs__header__topbar {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: .875rem;
    padding-bottom: 0;
}
.cs__header__logo {
    display: block;
    line-height: 0;
    max-width: 60px;
}
#logo {
    display: none;
}
.cs__btn {
    color: #bfae94;
    padding: .8rem;
    border: 1px solid;
    border-radius: .25rem;
    margin: 0 .4rem;
    cursor: pointer;
    transition-property: background-color, color;
    transition-duration: .25s;
}
.cs__btn:hover,
.cs__btn.btn-primary:hover {
    color: inherit;
    background-color: rgba(255, 255, 255, .3)
}
.cs__btn.btn-primary {
    color: inherit;
    border-color: #bfae94;
    background-color: #bfae94;
}
.cs__sidebar {
    display: none;
    position: absolute;
    top: 92px;
    right: 0;
    width: 100%;
    font-size: .875rem;
}
.cs__sidebar__menu {
    background-color: rgba(255, 255, 255, .4)
}
.cs__sidebar__menu a {
    display: block;
    line-height: 3.75;
    transition: .35s
}
.cs__sidebar__menu a:hover {
    background-color: #bfae94;
    color: #fff;
}
.cs__icon {
    display: inline-block;
    font: normal normal normal 14px/1 'FontAwesome';
    font-size: inherit;
    text-rendering: auto;
    margin: 0 1rem;
}
.icon-user:before {
    content: "\f007";
}
.icon-close:before {
    content: "\f011 ";
}

/**------------------ Search ------------------**/
.cs__search-content {
    padding: 7.5rem 1rem 13.625rem 1rem;
    line-height: 1.2;
    margin: 0 auto;
}
.cs__search-title {
    font-weight: 400;
    font-size: 2.8rem;
    letter-spacing: 3px;
    margin-top: 0;
}
.cs__input-group {
    display: flex;
}
.cs__input-control {
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-family: inherit;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    height: 50px;
    flex: 1 1 auto;
}
.cs__input-group>.cs__input-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.cs__input-group-btn {
    margin-left: -1px;
    font-size: 1.5rem;
    padding: 0 .8rem;
    color: #444;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    background-color: #ececec;
}
.cs__input-group-btn:hover {
    color: #ececec;
    background-color: #444;
}
.cs__input-group>.cs__input-group-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/**------------------ Main ------------------**/
.cs__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}
.cs__title {
    font-size: 1.8rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/**------------------ Section news ------------------**/
.cs__course {
    display: flex;
    padding: 1rem 0;
    border-bottom: 1px solid #d2d2d2;
}
.cs__course-img {
    width: 40%;
    max-width: 240px;
    flex: none;
    line-height: 0;
}
.cs__course-body {
    width: 100%;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}
.cs__course-title {
    margin: 0;
    font-size: 1.2rem;
    color: #383838;
}
.cs__course-category {
    order: -1;
    font-size: .63rem;
    text-transform: uppercase;
    color: #558da4;
}
.cs__course-author {
    font-size: .8rem;
}
.cs__course-author span {
    color: #c89446;
}
.cs__course-action {
    display: none;
}
.cs__course:last-child {
    border-bottom: 0;
}

.cs__card {
    position: relative;
    overflow: hidden;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    margin-bottom: 20px;
}
.cs__card__item {
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
    overflow: hidden;
    color: unset;
}
.cs__card__item:hover {
    color: unset;
}
/*.cs__card__container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 5px;
}*/
.cs__card-body {
    /*-webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;*/
    font-size: .875rem;
    padding: 1rem;
    min-height: 150px;
}
.cs__card-img {
    position: relative;
}
.cs__card-img img {
    width: 100%;
    height: 150px;
}
.cs__card-categorie {
    position: absolute;
    bottom: -7px;
    left: 1rem;
    background: #fff;
    color: #28586f;
    box-shadow: #28586f66 1px 2px 2px;
    border: 1px solid #28586f;
    border-radius: 20px;
    font-size: .6rem;
    padding: 5px 10px;
    text-transform: uppercase;
}
.cs__card-title {
    font-size: 1.35rem;
    margin-bottom: 0;
}
.cs__card-subtitle {
    font-size: .8rem;
    color: #6d6d6d;
    margin-bottom: .5rem;
    margin-top: 0;
}
.cs__card-subtitle span {
    color: #c89446;
}
.cs__card-action {
    border-top: 1px solid rgba(0,0,0,.1);
    padding: 15px 0;
    background: rgba(0,0,0, .03);
    text-align: center;
}
.cs__card__tag {
    padding: 5px 10px;
    display: inline-block;
    border: 1px solid #28586f;
    box-shadow: #28586f66 1px 2px 2px;
    color: #28586f;
    border-radius: 10px;
    font-size: .7rem;
    line-height: .9rem;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.cs__card__content {
    font-size: .9rem;
    text-align: justify;
    min-height: 100px;
}
.cs__card__subinfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-right: -15px;
    margin-left: -15px;
}
.cs__card__descriptionWarpper {
    transition: transform .3s ease,opacity .3s ease;
    position: absolute;
    -ms-transform: translate(0,132px);
    transform: translate(0,132px);
    overflow: hidden;
    z-index: 5;
    opacity: 0;
    height: calc(100% + 1px);
}
.cs__card:hover .cs__card__descriptionWarpper {
    transform: translate(0,-1px);
    opacity: .98;
    background: #fff;
    overflow: auto;
}
.cs__card__list li {
    border-bottom: 1px solid #e7e7e7;
    padding: 9px;
}
.cs__card__list li .svg-inline--fa {
    display: inline-block;
    margin-right: 9px;
}
.cs__card__list li:last-child {
    border-bottom: none;
}

/**------------------ Section catalog ------------------**/
.cs__catalog {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 10%, rgba(0,0,0,.55) 100%),
    url('../img/catalog.jpg') top center/ cover;
}
.cs__block-centered {
    text-align: center;
    padding: 50px 0;
    color: #fff;
    font-weight: 300;
}
.cs__block-centered h2 {
    margin-top: 0;
}
.cs__catalog .cs__btn {
    display: inline-block;
    margin-top: 1rem;
}

/**------------------ Footer ------------------**/
.cs__footer {
    background: #383838;
    color: #fff;
    font-weight: 300;
}

/**------------------ Media Query ------------------**/
@media screen and (min-width:500px) {
    .cs__search-title {
        font-size: 3.8rem;
    }
    .cs__title {
        font-size: 3rem;
        letter-spacing: 4px;
    }
}
@media screen and (min-width:700px) {
    .cs__header {
        background-attachment: fixed;
    }
    .cs__header__topbar,
    .cs__submenu {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
    }
    #logo {
        display: block;
        max-width: 245px;
    }
    #picto {
        display: none;
    }
    .cs__sidebar {
        max-width: 250px;
    }
    .cs__search-content {
        max-width: 600px;
    }
    .cs__catalog {
        background-attachment: fixed;
    }
    .cs__block-centered {
        max-width: 800px;
        margin: 0 auto;
        padding: 100px 0;
    }
}