/**--------- Style Général ---------**/
*, *::after, *::before {
    box-sizing: border-box;
}
html {
    font-size: 16px
}
body {
    background: url("../img/back.png");
    font-size: 1rem;
    font-family: "Lato", Arial, sans-serif;
    line-height: 1.4;
    color: rgba(0, 0, 0, .8);
    margin: 0;
    padding: 0;
}
a {
    color: inherit;
    text-decoration: none;
    transition: color .3s;
}
a:hover {
    color: #bfae94;
}
img {
    max-width: 100%;
    height: auto;
}

/**--------- Header ---------**/
.cs__header {
    color: #fff;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 15%, rgba(0,0,0,.35) 50%),
    url('../img/front.jpg') top center/ cover;
}
.cs__header__topbar {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: .875rem;
    padding-bottom: 0;
}
.cs__header__logo {
    display: block;
    line-height: 0;
    max-width: 60px;
}
#logo {
    display: none;
}
.cs__btn {
    color: #bfae94;
    padding: .8rem;
    border: 1px solid;
    border-radius: .25rem;
    margin: 0 .4rem;
    cursor: pointer;
    transition-property: background-color, color;
    transition-duration: .25s;
}
.cs__btn:hover,
.cs__btn.btn-primary:hover {
    color: inherit;
    background-color: rgba(255, 255, 255, .3)
}
.cs__btn.btn-primary {
    color: inherit;
    border-color: #bfae94;
    background-color: #bfae94;
}
.cs__sidebar {
    display: none;
    position: absolute;
    top: 92px;
    right: 0;
    width: 100%;
    font-size: .875rem;
}
.cs__sidebar__menu {
    background-color: rgba(255, 255, 255, .4)
}
.cs__sidebar__menu a {
    display: block;
    line-height: 3.75;
    transition: .35s
}
.cs__sidebar__menu a:hover {
    background-color: #bfae94;
    color: #fff;
}
.cs__icon {
    display: inline-block;
    font: normal normal normal 14px/1 'FontAwesome';
    font-size: inherit;
    text-rendering: auto;
    margin: 0 1rem;
}
.icon-user:before {
    content: "\f007";
}
.icon-close:before {
    content: "\f011 ";
}
.cs__search-content {
    padding: 7.5rem 1rem 13.625rem 1rem;
    line-height: 1.2;
    margin: 0 auto;
}
.cs__search-title {
    font-weight: 400;
    font-size: 2.8rem;
    letter-spacing: 3px;
    margin-top: 0;
}
.cs__input-group {
    display: flex;
}
.cs__input-control {
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-family: inherit;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    height: 50px;
    flex: 1 1 auto;
}
.cs__input-group>.cs__input-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.cs__input-group-btn {
    margin-left: -1px;
    font-size: 1.5rem;
    padding: 0 .8rem;
    color: #444;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    background-color: #ececec;
}
.cs__input-group-btn:hover {
    color: #ececec;
    background-color: #444;
}
.cs__input-group>.cs__input-group-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.cs__midBar {
    text-align: center;
    background-color: #bfae94;
}
.cs__submenu a {
    display: inline-block;
    width: 100%;
    line-height: 3;
    border-bottom: 1px solid #fff;
    transition: .35s
}
.cs__submenu a:last-child {
    border-bottom: none;
}
.cs__submenu a:hover {
    color: #fff;
}
@media screen and (min-width:500px) {
    .cs__search-title {
        font-size: 3.8rem;
    }
}
@media screen and (min-width:700px) {
    .cs__header__topbar,
    .cs__submenu {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
    }
    #logo {
        display: block;
        max-width: 245px;
    }
    #picto {
        display: none;
    }
    .cs__sidebar {
        max-width: 250px;
    }
    .cs__search-content {
        max-width: 600px;
    }
    .cs__submenu {
        display: flex;
        justify-content: space-around;
    }
    .cs__submenu a {
        border-bottom: 0;
    }
}