.carousel{
    margin-bottom: 30px;
}
.cs__card.item{
    margin: 10px;
    transition: transform .3s;
}
.item:hover {
    transform: translate3d(0,-10px,0);
}

/* ------ Carousel ------- */
#carousel1, #carousel2{
    position: relative;
    flex-wrap: unset;
}
.carousel{
    padding: 0 40px;
    overflow: hidden;
}
.carousel__container {
    transition: transform 0.9s;
    transform: translate3d(0, 0, 0);
}
.carousel__container::after{
    content: '';
    clear: both;
    display: table;
}
.carousel__item{
    float: left;
}
.carousel__next, .carousel__prev{
    position: absolute;
    width: 40px;
    height: 40px;
    background: #fff url(../img/right.svg) center center no-repeat;
    background-size: 30px;
    border-radius: 50%;
    top: 50%;
    margin-top: -20px;
    right: -20px;
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
    cursor: pointer;
    transition: transform 0.3s, opacity .3s;
}

.carousel__next:hover, .carousel__prev:hover {
    transform: scale(1.2);
}

.carousel__prev {
    background-image: url(../img/left.svg);
    right: auto;
    left: -20px;
}

.carousel__prev--hidden, .carousel__next--hidden {
    opacity: 0;
}

.carousel__pagination{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}
.carousel__pagination__button {
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 3px;
    display: inline-block;
    box-shadow: 0 2px 5px #3232321a;
    transition: transform .3s;
    cursor: pointer;
}
.carousel__pagination__button--active, .carousel__pagination__button:hover {
    transform: scale(1.4);
}

@media screen and (min-width: 500px) {
    .carousel__pagination {
        display: block;
    }
}