.carousel{
    margin-bottom: 30px;
}
.cs__other{
    margin: 10px;
    transition: transform .3s;
}
.item:hover {
    transform: translate3d(0,-10px,0);
}



@media screen and (min-width: 500px) {
    .cs__slider__pagination {
        display: block;
    }
}