* {
    box-sizing: border-box;
}
body {
    background: url("../img/back.png");
    font-size: 1em;
    font-family: Lato, Arial, serif;
    color: #444;
    margin: 0;
    padding: 0;
}
figure {
    margin: 0;
}
a {
    color: #558da4;
}
a:hover {
    color: #bfae94;
    text-decoration: none;
}
ul {
    margin: 0;
}

/* ------------------ Button ---------------- */

.btn-outline-sevigne {
    color: #a79477;
    background-color: transparent;
    background-image: none;
    border-color: #a79477;
}
.btn-outline-sevigne:hover {
    color: #fff;
    background-color: #a79477;
    border-color: #a79477;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem #bfae944a;
}
.btn-outline-sevigne-blue {
    color: #558da4;
    background-color: transparent;
    background-image: none;
    border-color: #558da4;
}
.btn-outline-sevigne-blue:hover {
    color: #fff;
    background-color: #558da4;
    border-color: #558da4;
}

/* ------------------ Menu ----------------- */
.cs__main__nav {
    position: relative;
    background-color: #e9e9e9;
    padding: .5rem 1rem;
}
.cs__main__nav>.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.cs__main__menu__logo {
    display: inline-block;
    margin-right: 1rem;
}
.cs__main__menu__burger {
    padding: .25rem .75rem;
    font-size: 1.15rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid #28586f;
    border-radius: .25rem;
    cursor: pointer;
}
.cs__main__menu__burger:hover,
.cs__main__menu__burger:focus {
    outline: 5px auto #3A5E75;
}
.cs__main__menu__burger-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
}
.cs__main__menu__burger .cs__main__menu__burger-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(40, 88, 111)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.cs__main__menu {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.cs__menu {
    padding: 0;
    margin-bottom: 0;
    list-style: none;
}
.cs__menu-item,
.cs__menu-midBar {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #fff;
    padding: .5em 0;
}
.cs__menu-midBar:last-child,
.cs__menu-item:last-child {
    border-bottom: none;
}
.cs__menu-link {
    display: block;
    padding: .5rem 0;
    color: #28586f;
    transition: ease-in-out color .15s;
}
.cs__menu-link:hover,
.cs__menu-link:focus {
    color: #bfae94;
}
.cs__header__midBar {
    margin-bottom: 2em;
}
@media (min-width: 768px) {
    .cs__main__menu__burger {
        display: none;
    }
    .cs__main__menu.collapse {
        display: block;
    }
    .cs__main__menu {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
    }
    .cs__menu {
        display: flex;
    }
    .cs__menu-item {
        text-align: right;
        border-bottom: none;
    }
    .cs__menu-midBar {
        border-bottom: none;
    }
}
@media (max-width: 337px) {
    .cs__main__nav {
        padding-right: 0;
        padding-left: 0;
    }
    .cs__title_site {
        font-size: 3.2rem !important;
    }
    .cs__footer-logo {
        width: 100%;
    }
}

/* ----------------- Header ---------------- */
.cs__message {
    margin-bottom: 0;
    text-align: center;
}
.cs__container__search {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.cs__content__search {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}
.cs__content__search-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 2em;
    margin-left: -15px;
    margin-right: -15px;
}
.cs__picto {
    width: 100%;
    max-height: 145px;
}
.cs__title_site {
    font-size: 3.5rem;
    font-weight: 400;
    color: #fff;
    margin: 0;
}
.cs__front,
.cs__front-blue {
    width: 100vw;
}
.cs__front {
    height: 100vh;
}
@media all and (max-width: 767px) {
    .cs__container__search {
        height: 500px;
        overflow: hidden;
    }
    .cs__front,
    .cs__front-blue {
        height: inherit;
        width: 100%;
    }
}
@media all and (max-width: 576px) {
    .cs__content__search {
        top: 27%;
    }
    .cs__search__picto {
        display: none;
    }
}

/* ------------------ Form recherche ---------------- */
.input-group .form-control {
    line-height: 2;
    height: 50px
}
button#basic-addon {
    padding: 0 1rem;
    font-size: 1.5rem;
}
.input-group-append:hover button {
    background-color: #444;
    color: #ececec;
}

/* ---------------- Pagination ----------------- */
.cs__resultBar {
    margin-bottom: 1.5rem;
}
.page-link {
    color: #bfae94;
}
.page-item.active .page-link {
    background-color: #bfae94;
    border-color: #bfae94;
}
.page-link:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(191, 174, 148, .25);
    box-shadow: 0 0 0 0.2rem rgba(191, 174, 148, .25);
}
.page-link:hover {
    color: #bfae94;
}

/* ---------------- Footer ---------------- */
.cs__footer {
    background: #28586f;
    color: #fff;
}
.cs__footer__content {
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cs__footer-logo {
    padding-bottom: 2em;
}
.cs__footer__links__list {
    text-align: right;
    font-size: 1.2rem;
}
.cs__footer__links__list li {
    border-bottom: 1px solid #e7e7e7;
    padding: 9px 0;
}
.cs__footer__links__list li:last-child {
    border-bottom: none;
}
.cs__footer__links__list li a {
    color: #fff;
    font-weight: 300;
    -webkit-transition: ease-in-out color .15s;
    transition: ease-in-out color .15s;
}
.cs__footer__links__list li a:hover,
.cs__footer__links__list li a:focus {
    color: #bfae94;
}

/* ---------------- Index ----------------- */
.heading {
    margin-bottom: 2rem;
    border-bottom: 1px solid #bfae94;
}
.content {
    margin-bottom: 2rem;
}

/* -------------- Search Page -------------- */



/* -------------- Show Page -------------- */
.jumbotron {
    background-color: #e9e9e9;
}

.principal {
    margin-bottom: 4em;
}

.info-text {
    color: #6c757d;
    font-size: 80%;
    font-weight: 400;
    margin-bottom: 0;
}

.date {
    text-align: right;
}

p.content {
    text-align: justify;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.other-card-img {
    position: relative;
    width: 100%;
    height: 11em;
    overflow: hidden;
}

.other-card-img img {
    width: 100%;
    min-height: 100%;
}

.other-card-info {
    position: absolute;
    padding: .5rem 1rem;
    line-height: 1.4em;
    bottom: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, .75);
    width: 100%;
    height: 50%;
    left: 200%;
}

.other-card-img:hover .other-card-info {
    -webkit-transition-duration: 1.5s;
    transition-duration: 1.5s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    left: 0;
}

.other-card-info p {
    margin-bottom: 0;
}

.nav-tabs .nav-link {
    background-color: #bfae94;
    color: #fff;
}

div#nav-tabContent {
    border: 1px solid #dee2e6;
    padding: 1em 1em 1.5em 1em;
    background-color: #fff;
    border-top: none;
    margin-bottom: 1rem;
    text-align: justify;
}

/*-------------- Contact -------------------*/

.contact {
    margin-bottom: 2em;
}


#map {
    height: 400px;
    width: 100%;
}

/*-------------- Login / Register --------------*/
.sign {
    margin: 7em 0;
}
.panel {
    border-radius: 5px;
}
.panel-login {
    border: none;
    background-color: #fff;
    -webkit-box-shadow: 0 0 49px 14px rgba(188, 190, 194, 0.39);
    box-shadow: 0 0 49px 14px rgba(188, 190, 194, 0.39);
}
.panel-login h2 {
    font-size: 22px;
    padding: 30px 15px;
    text-transform: uppercase;
}
.panel-login>.panel-heading {
    color: #848c9d;
    background-color: #e8e9ec;
    border-color: #fff;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom: 0;
    padding: 0 15px;
}
.panel-login>.panel-heading .tabs {
    padding: 0;
}
.panel-login>.panel-heading a {
    text-decoration: none;
    color: #666;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login>.panel-heading .login {
    padding: 20px 30px;
    border-bottom-left-radius: 5px;
}
a.active div {
    background-color: #28586f;
    color: #fff;
}
.content-body {
    margin-top: 1em;
}
.content-body .checkbox input[type=checkbox] {
    margin-left: 0;
}
.content-body .checkbox label {
    padding-left: 25px;
    font-weight: 300;
    display: inline-block;
    position: relative;
}
.content-body .checkbox {
    padding-left: 20px;
}
.content-body .checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: 0;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.content-body .checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: 0;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
}
.content-body .checkbox input[type="checkbox"] {
    opacity: 0;
}
.content-body .checkbox input[type="checkbox"]:focus+label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.content-body .checkbox input[type="checkbox"]:checked+label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
}
.content-body h2 {
    font-size: 22px;
    margin: 30px;
    text-transform: uppercase;
}
.modal-content .content-heading {
    color: #848c9d;
    background-color: #e8e9ec;
    text-align: center;
    display: flex;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
button.form-link {
    background-color: unset;
    border: none;
    padding: 20px;
    cursor: pointer;
}
button.form-link:hover {
    font-size: 1.3em;
}

button.form-link.active {
    background-color: #28586f !important;
    color: #fff;
}
.content-body input[type="text"],
.content-body input[type="email"],
.content-body input[type="password"] {
    height: 45px;
    border: 0;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 0;
    padding: 6px 0;
}
.content-body input:hover,
.content-body input:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}
.btn-login {
    background-color: #E8E9EC;
    color: #28586f;
    font-size: 14px;
    padding: 14px;
    text-transform: uppercase;
    border: #bbb solid .5px;
    border-radius: .5em;
    margin-bottom: 1.5em;
}
.forgot-password {
    text-decoration: underline;
    color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #666;
}
.btn-register {
    background-color: #E8E9EC;
    outline: none;
    color: #28586f;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-login:hover,
.btn-login:focus,
.btn-register:hover,
.btn-register:focus {
    color: #fff;
    background-color: #28586f;
}

/*------------- Error 404 -----------------*/

#error {
    padding: 150px 0;
    text-align: center;
}

.hgroup {
    margin: 0 auto;
}

.hgroup h1,
.hgroup h2 {
    margin: 0 0 0 40px;
    padding: 0;
    display: inline-block;
    text-transform: uppercase;
}

.hgroup h1 {
    margin-top: -90px;
    font-size: 200px;
}

.hgroup h2 {
    font-size: 60px;
}

.hgroup h2 span {
    display: block;
    font-size: 30px;
}

#error p {
    margin: 25px 0 0 0;
    padding: 0;
    font-size: 16px;
}

#error p:first-child {
    margin-top: 0;
}

/* ----------------- Card CS ------------------ */
.cs__card {
    position: relative;
    overflow: hidden;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    margin-bottom: 1.3em;
    background: #fff;
}
.cs__card__item {
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
    overflow: hidden;
    color: unset;
}
.cs__card__item:hover {
    color: unset;
}
.cs__card__container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 5px;
}
.cs__card__body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    min-height: 150px;
}
.cs__card__img {
    position: relative;
    margin-bottom: .5em;
}
.cs__card__img img {
    width: 100%;
    height: 150px;
}
.cs__card__categorie {
    padding: 5px 10px;
    position: absolute;
    bottom: -12px;
    left: 15px;
    background: #fff;
    color: #28586f;
    box-shadow: #28586f66 1px 2px 2px;
    border: 1px solid #28586f;
    border-radius: 20px;
    font-size: .6rem;
    line-height: .75rem;
    text-transform: uppercase;
    max-width: 220px;
}
.cs__card__tag {
    padding: 5px 10px;
    display: inline-block;
    border: 1px solid #28586f;
    box-shadow: #28586f66 1px 2px 2px;
    color: #28586f;
    border-radius: 10px;
    font-size: .7rem;
    line-height: .9rem;
    text-transform: uppercase;
    margin-bottom: 1em;
}
.cs__img {
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    /*margin-bottom: 1em;*/
}
.cs__card__title {
    margin-bottom: .5rem;
    color: #558da4;
}
.cs__card__subtitle {
    font-size: .75rem;
    color: #6c757d;
    margin-bottom: .5rem;
    margin-top: -.375rem;
}
.cs__card__content {
    font-size: .9rem;
    text-align: justify;
    min-height: 100px;
}
.cs__card__subinfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-right: -15px;
    margin-left: -15px;
}
.cs__card__descriptionWarpper {
    transition: transform .3s ease,opacity .3s ease;
    position: absolute;
    -ms-transform: translate(0,132px);
    transform: translate(0,132px);
    overflow: hidden;
    z-index: 5;
    opacity: 0;
    height: calc(100% + 1px);
}
.cs__card__action {
    border-top: 1px solid rgba(0,0,0,.1);
    padding: 15px 0;
    background: rgba(0,0,0, .03);
    text-align: center;
}
.cs__card:hover .cs__card__descriptionWarpper {
    transform: translate(0,-1px);
    opacity: .98;
    background: #fff;
    overflow: auto;
}
.cs__card__list li {
    border-bottom: 1px solid #e7e7e7;
    padding: 9px;
}
.cs__card__list li .svg-inline--fa {
    display: inline-block;
    margin-right: 9px;
}
.cs__card__list li:last-child {
    border-bottom: none;
}


/* ----------------- Sidebar CS ------------------ */
.cs__sidebar {
    background: #fff;
    padding: 1em;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}
.cs__sidebar__title {
    padding: 0 0 14px;
}
.cs__sidebar__title h3 {
    font-size: 1.5rem;
}
.cs__sidebar__accordion__rubrique {
    margin-bottom: 1em;
}
.cs__sidebar__accordion__heading {
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 10px;
    color: #444;
}
.cs__sidebar__accordion__heading h4 {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 0;
}
.cs__sidebar__accordion__list,
.cs__footer__links__list,
.cs__card__list {
    list-style-type: none;
    padding: 0;
}
.pull-right {
    float: right;
    color: #bfae94;
    transition: .5s;
}

li.search-active {
    background-color: #e6ded1;
    padding: .5em;
}



li.cs__item__hidden {
   display: none;
}
.cs__control {
    text-align: center;
    padding: 4px 0;
    line-height: 30px;
}
button.cs__voir {
    border: none;
    background: transparent;
    display: inline-block;
    text-transform: uppercase;
    color: #8d8d8d;
}
button.cs__voir:hover {
    color: #558da4;
    font-weight: 400;
    transform: scale(1.1);
}